<div ng-controller = "signInController">
   <div class = "col-md-4 col-md-offset-4">
      <form name = "loginForm" method = "post" action = "">

         <!-- Message for authentication successful -->
          <div ng-show = "isUserExist == true" class = "alert alert-success">
            Successful.
         </div>

         <!-- Message for invalid user -->
         <div ng-show = "isUserExist == false" class = "alert alert-warning">
            User doesn't exist.
         </div>

         <!-- Message for invalid email id -->
         <div ng-show = "loginForm.email.$invalid && loginForm.email.$dirty" class = "alert alert-warning">
            Please enter a valid email id.
         </div>

         <!-- Email address -->
         <div class = "form-group" >
            <label>Email id</label>
            <div class = "input-group">
               <div class = "input-group-addon"><i class = "fa fa-user"></i></div>
               <input type = "email" name = "email" class = "form-control" ng-model = "user.email" ng-required = "true"/>
            </div>
         </div>

         <!-- Password -->
         <div class = "form-group">
            <label>Password</label>
            <div class = "input-group">
               <div class = "input-group-addon"><i class = "fa fa-lock"></i></div>
               <input type = "password" name = "password" class = "form-control" ng-model = "user.password" ng-required = "true"/>
            </div>
         </div>

         <div class = "form-group">
            <div class = "input-group ">
               
               <div class = "input-group-addon">            
                  <div class = "remember" style = "float:left;">
                     <input type = "checkbox" id = "check"> 
                     <label>Remember Me</label>
                  </div>
                  <div style = "float:right;">
                     <span class = "remember"><a href = "">Forgot Password</a></span>
                  </div>
               </div>

            </div>
         </div>

         <div class = "form-actions" >
            <button type = "button" ng-click = "validateUserCredentials()" class="btn btn-primary" style="width:100%;">Sign in</button>
         </div>
         
      </form>
   </div>

</div>